<!DOCTYPE Html>
<html>
    <head>
        <link rel="stylesheet" href="app.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
        </script>
    </head>
    <body>
        <header>
            <h1>Todo<span>list</span></h1>
            <h2>Simple way to note your tasks</h2>
        </header>
      
        <section class="form">
            <input type="text" id="todoInput" placeholder="Insert your task here...">
        </section>
    
        <ul class="list">
        </ul>
    
    <script type="text/javascript" src="app.js"></script>
    </body>
</html>